{% extends 'admin/admin.base.html' %}
{% load static %}

{% block bodyclass %}
    login-layout blur-login
{% endblock %}

{% block body %}

    <div class="main-container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                {% block login_title %}
                                    <a href="{% url 'admin:admin_home' %}">
                                        <h1>
                                            <span class="white">Django管理平台</span>
                                        </h1>
                                    </a>
                                {% endblock %}
                            </div>

                            <div class="space-6"></div>

                            <div class="position-relative">
                                {% block formarea %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}

{% endblock extrajs %}
