{% extends 'account/login.base.html' %}
{% load static %}

{% block title %}
    密码重置
{% endblock %}

{% block formarea %}
    <div class="visible forgot-box widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="ace-icon fa fa-key"></i>
                    重置密码
                </h4>
                <div class="space-6"></div>

                {% if validlink %}
                    <p>请输入您希望使用的新密码</p>

                    <form action="" method="post">{% csrf_token %}
                        {{ form.new_password1.errors }}
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="new_password1" placeholder="新密码"/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="new_password2" placeholder="确认密码"/>
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                <i class="ace-icon fa fa-key"></i>
                                <span class="bigger-110">提交</span>
                            </button>
                        </div>
                    </form>
                {% else %}

                    <h3>密码重置失败</h3>

                    <p>重置密码链接无效，可能是您已经使用过此链接重置过密码，请重新请求一个新的密码重置链接。</p>

                    <div class="toolbar center">
                        <a href="{% url 'admin:account:forget_password' %}" data-target="#forget-box"
                           class="back-to-login-link">
                            返回密码重置页面
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}