{% extends 'account/login.base.html' %}
{% load static %}

{% block title %}
    忘记密码
{% endblock %}

{% block formarea %}
    <div id="forgot-box" class="visible forgot-box widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="ace-icon fa fa-key"></i>重置密码
                </h4>

                <div class="space-6"></div>
                <p>请输入您注册时使用的邮箱来重置密码</p>

                <form action="{% url 'admin:account:reset_password' %}"
                      method="post" id="id-password-reset-form">
                    {% csrf_token %}
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="email" name="email" class="form-control" placeholder="Email"/>
                                <i class="ace-icon fa fa-envelope"></i>
                            </span>
                        </label>

                        <div class="clearfix">
                            <button type="submit" id="id-reset-button"
                                    class="width-35 pull-right btn btn-sm btn-danger">
                                <i class="ace-icon fa fa-lightbulb-o"></i>
                                <span class="bigger-110">立即重置</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <div class="space-6"></div>
                <div id="wait-message" class="center"></div>
            </div>

            <!-- /.widget-main -->

            <div class="toolbar center">
                <a href="{% url 'admin:account:login' %}" data-target="#login-box" class="back-to-login-link">
                    返回登录页面
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.forgot-box -->
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('#id-password-reset-form');
            $form.validate();
            $form.submit(function (e) {
                $("#id-reset-button").attr('disabled', true);
                $("#wait-message").prepend('<span>请稍候... </span>');
                $.post(
                    $form.attr('action'),
                    $form.serializeArray(),
                    function (retData) {
                        if (retData['ret'] === 0) {
                            $('#wait-message').html('<span><i class="fa fa-thumbs-o-up"></i> 密码重置邮件发送成功<br>请按照邮件里面的提示重置密码</span>');
                        } else {
                            $("#wait-message").html('<span><i class="fa fa-exclamation-triangle"></i> ' + retData['errmsg'] + '</span>');
                        }
                        $("#id-reset-button").attr('disabled', false);
                    }
                );
                e.preventDefault();
            });
            {% include 'account/form.errors.inc.html' with form_id='id-password-reset-form' %}
        });
    </script>
{% endblock extrajs %}
