{% extends 'account/login.base.html' %}
{% load static %}

{% block title %}
    密码重置完毕
{% endblock %}

{% block formarea %}
    <div class="visible forgot-box widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="ace-icon fa fa-key"></i>
                    重置密码成功
                </h4>
                <div class="space-6"></div>
                <p>请使用新密码登录系统</p>
            </div>

            <div class="toolbar center">
                <a href="{% url 'admin:account:login' %}" data-target="#login-box" class="back-to-login-link">
                    返回登录页面
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
