{% extends 'common/admin/generic.form.inc.html' %}

{% block form_js %}
    <script type="text/javascript">

        $(document).ready(function () {

            var containsAlphabet = /[A-Za-z]/;
            var containsNumbers = /[0-9]/;

            $.validator.addMethod("pwcheck", function (value) {
                return containsAlphabet.test(value) // 包含字母
                    && containsNumbers.test(value); // 包含数字
            });

            var $form = $('#{{ form_id }}');

            var rules = $form.buildFormValidationRules();

            $.extend(rules, {
                new_password: {
                    required: true,
                    pwcheck: true,
                    minlength: 6
                },
                confirm_password: {
                    equalTo: "input[name='new_password']"
                }
            });

            $form.validate({
                rules: rules,
                messages: {
                    new_password: {
                        pwcheck: "请输入一个同时包含字母和数字的字符串"
                    }
                }
            });

            $form.ajaxForm($form.buildAjaxFormOptions());
        });
    </script>

{% endblock form_js %}
